<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Party Form</title>
</head>
<body>
<h1>Add New Party</h1>
<form action="#" th:action="@{/parties}" method="POST">
    <div th:object="${party}">
        <div>
            <label th:for="name">Name: </label>
            <input type="text" th:field="*{name}">
            <p th:errors="*{name}"></p>
        </div>
        <div>
            <label th:for="description">Description: </label>
            <input type="text" th:field="*{description}">
            <p th:errors="*{description}"></p>
        </div>
        <div>
            <label th:for="*{location}">Location: </label>
            <select name="location" id="location">
                <option th:each="location : ${locations}" th:object="${location}"
                        th:value="*{id}" th:text="*{name}"/>
            </select>
        </div>
        <div>
            <input type="submit" value="Add New Party">
        </div>
    </div>
</form>
</body>
</html>
